// Colors
$grey: #333333;
$light-grey: #fafafa;
$light-grey-border: #eeeeee;
$light-color: #aaa;
$hover-color: #f0f0f0;
$subtext-color: #999;

// Navigation Colors - not used
$nav-bg: $grey;
$nav-text-color: white;
